
.jumbotron{
    background-color: #FF637D;
    margin-top: 50px;
}

.contenedor-baner{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.texto-image h1{
    text-shadow: 1px 1px 2px black;
}

.card-hotel{
    flex: 1 250px;
    padding: 3% 0px 3% 0px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;

}


footer{
    padding: 10px;
    margin-top:15%;
}
footer ul li a{
    text-decoration: none;
    color: white;
}